---
import Podcasting20Badge from "assets:Podcasting20Badge";
import FediverseIllustration from "images:castopod-fediverse-illustration.webp";
import VideoClipsIllustration from "images:castopod-video-clips-illustration.webp";
import BroadcastIllustration from "images:castopod-broadcast-illustration.webp";
import AnalyticsIllustration from "images:castopod-analytics-illustration.webp";
import ValueIllustration from "images:castopod-value-illustration.webp";
import Path1 from "assets:DashedPath/Path1";
import Path2 from "assets:DashedPath/Path2";
import Path3 from "assets:DashedPath/Path3";
import Path4 from "assets:DashedPath/Path4";
import Path5 from "assets:DashedPath/Path5";
import Path6 from "assets:DashedPath/Path6";
import StraightPath from "assets:DashedPath/StraightPath";
import { Icon } from "astro-icon";
---

<section id="features" class="container py-24">
  <h2
    class="relative max-w-lg mx-auto text-4xl font-bold text-center font-display text-pine-800"
  >
    What you expect from a podcast hosting solution, and much more…
    <StraightPath
      className="lg:hidden absolute h-24 -bottom-48 mx-auto inset-x-0"
    />
    <Path1 className="hidden lg:block absolute h-24 -bottom-full left-48" />
  </h2>
  <div
    class="grid justify-center grid-cols-1 px-12 mx-auto mt-56 text-center gap-y-28 lg:gap-y-60 lg:gap-x-40 lg:text-left lg:grid-cols-2"
  >
    <article
      class="relative flex flex-col items-center lg:flex-row-reverse lg:col-start-1 lg:row-start-1 lg:items-start"
    >
      <img
        src={FediverseIllustration}
        alt="A rocket ship traversing the fediverse."
        class="flex-1 w-full max-w-md m-auto lg:absolute lg:-right-full -z-10 lg:inset-y-0 h-96 aspect-square"
        loading="lazy"
      />
      <div
        class="flex flex-col items-center max-w-md -mt-12 lg:items-start lg:mt-0"
      >
        <h2
          class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
        >
          <Icon
            pack="ri"
            name="checkbox-circle-fill"
            class="absolute h-6 top-1 -left-8"
          />
          Talk to your audience, directly
        </h2>
        <p class="mt-2">
          Interact with your audience in the fediverse, a decentralized social
          network. Your podcast becomes a social network: your episodes can be
          shared, liked and commented on without depending on <em>anyone</em>.
        </p>
      </div>
      <StraightPath
        className="lg:hidden absolute h-16 -bottom-32 mx-auto inset-x-0"
      />
      <Path2 className="hidden lg:block absolute h-24 -bottom-full left-1/2" />
    </article>
    <article
      class="relative flex flex-col items-center lg:flex-row lg:col-start-2 lg:row-start-2 lg:items-start"
    >
      <img
        src={VideoClipsIllustration}
        alt="Video being clipped and a megaphone on top of it."
        class="flex-1 w-full max-w-md m-auto lg:absolute lg:-left-full -z-10 lg:inset-y-0 h-96 aspect-square"
        loading="lazy"
      />
      <div
        class="flex flex-col items-center max-w-md -mt-12 lg:items-start lg:mt-0"
      >
        <h2
          class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
        >
          <Icon
            pack="ri"
            name="checkbox-circle-fill"
            class="absolute h-6 top-1 -left-8"
          />
          Promote your podcast
        </h2>
        <p class="mt-2">
          Castopod helps you get noticed by enforcing best practices and by
          giving you tools to post easily on all social media. Create video
          clips and soundbites from your episodes and share them everywhere!
        </p>
      </div>
      <StraightPath
        className="lg:hidden absolute h-16 -bottom-32 mx-auto inset-x-0"
      />
      <Path3 className="hidden lg:block absolute h-24 -bottom-full right-1/2" />
    </article>
    <article
      class="relative flex flex-col items-center lg:flex-row-reverse lg:col-start-1 lg:row-start-3 lg:items-start"
    >
      <img
        src={BroadcastIllustration}
        alt="The Castopod icon surrounded by the Apple Podcasts, Spotify, Google Podcasts, Deezer, Podcast Addict and Podfriend logos."
        class="flex-1 w-full max-w-md m-auto lg:absolute lg:-right-3/4 -z-10 lg:inset-y-0 h-96 aspect-square"
        loading="lazy"
      />
      <div
        class="flex flex-col items-center max-w-md -mt-12 lg:items-start lg:mt-0"
      >
        <h2
          class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
        >
          <Icon
            pack="ri"
            name="checkbox-circle-fill"
            class="absolute h-6 top-1 -left-8"
          />
          Your podcast, everywhere
        </h2>
        <p class="mt-2">
          Manage your podcast in one place, broadcast it everywhere using RSS.
          Castopod allows you to have your podcast show up on Apple Podcasts,
          Spotify, Deezer, Podcast Addict, Podfriend, …
        </p>
      </div>
      <StraightPath
        className="lg:hidden absolute h-16 -bottom-32 mx-auto inset-x-0"
      />
      <Path4 className="hidden lg:block absolute h-24 -bottom-full left-1/2" />
    </article>
    <article
      class="relative flex flex-col items-center lg:flex-row lg:col-start-2 lg:row-start-4 lg:items-start"
    >
      <img
        src={AnalyticsIllustration}
        alt="A person in front of a graph and arrow going up. À la Stonks."
        class="flex-1 w-full max-w-md m-auto lg:absolute lg:-left-full -z-10 lg:inset-y-0 h-96 aspect-square"
        loading="lazy"
      />
      <div
        class="flex flex-col items-center max-w-md -mt-12 lg:items-start lg:mt-0"
      >
        <h2
          class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
        >
          <Icon
            pack="ri"
            name="checkbox-circle-fill"
            class="absolute h-6 top-1 -left-8"
          />
          Built-in analytics
        </h2>
        <p class="mt-2">
          Get all the insights of your podcasts and episodes with anonymized
          data, in conformity with GDPR, CCPA and LGPD. Moreover, this is done
          following the market standard with IABv2 guidelines.
        </p>
      </div>
      <StraightPath
        className="lg:hidden absolute h-16 -bottom-32 mx-auto inset-x-0"
      />
      <Path5 className="hidden lg:block absolute h-24 -bottom-full right-1/2" />
    </article>
    <article
      class="relative flex flex-col items-center lg:flex-row-reverse lg:col-start-1 lg:row-start-5 lg:items-start"
    >
      <img
        src={ValueIllustration}
        alt="A money bag dumping dollar, euro and crypro coins."
        class="flex-1 w-full max-w-md m-auto lg:absolute lg:-right-3/4 -z-10 lg:inset-y-0 h-96 aspect-square"
        loading="lazy"
      />
      <div
        class="flex flex-col items-center max-w-md -mt-12 lg:items-start lg:mt-0"
      >
        <h2
          class="relative z-10 inline-block text-2xl font-bold font-display after:bg-pine-100 after:-z-10 text-pine-800 after:w-full after:h-1/2 after:absolute after:left-0 after:-bottom-1 after:rounded-full"
        >
          <Icon
            pack="ri"
            name="checkbox-circle-fill"
            class="absolute h-6 top-1 -left-8"
          />
          Value your work
        </h2>
        <p class="mt-2">
          Publish your podcast for free or monetize it. Get tips, connect to the
          crypto currency network with value4value, or automatically embed
          listen‑to‑click ads (using
          <a
            href="https://adaures.com/#listen-to-click"
            class="underline hover:no-underline decoration-pine-500 decoration-2"
            >Ad Aures’ contextual solution</a
          >
          for example).
        </p>
      </div>
      <StraightPath
        className="lg:hidden absolute h-24 -bottom-48 mx-auto inset-x-0"
      />
    </article>
  </div>

  <article class="relative max-w-3xl px-12 mx-auto mt-64 text-center">
    <Path6 className="hidden lg:block absolute h-24 -top-1/2 left-1/3" />

    <h2 class="text-4xl font-bold font-display text-pine-800">
      Join the Podcasting 2.0 movement!
    </h2>
    <a
      href="https://github.com/Podcastindex-org"
      title="Podcasting 2.0 certified"
    >
      <Podcasting20Badge className="h-5 mx-auto my-8" />
    </a>
    <p class="max-w-xl mx-auto text-xl">
      Unlock features never seen before and available on
      <a
        href="https://podcastindex.org/apps"
        class="underline decoration-pine-500 decoration-2 hover:no-underline"
        >many platforms</a
      >
      thanks to the
      <a
        href="https://podcastindex.org/"
        class="underline decoration-pine-500 decoration-2 hover:no-underline"
        >Podcast Index</a
      >
      community.
    </p>
    <p class="max-w-xl mx-auto mt-4 text-xl">
      Castopod allows you to specify <strong>locations</strong>,
      <strong>persons</strong>, <strong>transcripts</strong>,
      <strong>chapters</strong>, and much more!
    </p>
    <a
      href="https://code.podlibre.org/podlibre/castopod-host/uploads/b72537074dec7a788b4040829c727174/castopod-host-1.0.0-beta.5.zip"
      class="inline-flex items-center px-4 py-2 mt-6 font-semibold text-white rounded-full shadow-md group gap-x-2 bg-pine-500 hover:bg-pine-800 focus:outline-none focus:ring-2 focus:ring-pine-400 focus:ring-opacity-75"
      download
      data-analytics={'"Download" , ' +
        JSON.stringify({ props: { via: "Features CTA" } })}
    >
      <Icon
        pack="ri"
        name="download-cloud-2-fill"
        class="h-6 text-pine-800 group-hover:text-pine-500"
      />Download Castopod
    </a>
  </article>
</section>
