---
import AdauresLogo from "assets:AdauresLogo";
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";

const sections = [
  {
    title: t("common:footer.links"),
    items: [
      {
        type: "link",
        link: "mailto:hello@castopod.org",
        label: t("common:contactUs"),
      },
      {
        type: "link",
        link: "https://code.castopod.org/adaures/castopod/issues",
        label: t("common:footer.issues"),
      },
      {
        type: "link",
        link: "https://code.castopod.org/adaures/castopod/",
        label: t("common:sourceCode"),
      },
      {
        type: "link",
        link: "https://github.com/ad-aures/castopod",
        label: `Github [${t("common:mirror").toLowerCase()}]`,
      },
      {
        type: "link",
        link: "https://blog.castopod.org/",
        label: t("common:blog"),
      },
    ],
  },
  {
    title: t("common:footer.community"),
    items: [
      {
        type: "link",
        link: "https://podlibre.social/@castopod",
        label: "Mastodon",
      },
      { type: "link", link: "https://twitter.com/castopod", label: "Twitter" },
      { type: "link", link: "https://castopod.org/discord", label: "Discord" },
      {
        type: "link",
        link: "https://opencollective.com/castopod",
        label: "Open collective",
      },
    ],
  },
  {
    title: t("common:footer.aboutAdAures"),
    items: [
      {
        type: "link",
        link: "https://adaures.com",
        label: t("common:footer.website"),
      },
      { type: "link", link: "https://twitter.com/ad_aures", label: "Twitter" },
      {
        type: "link",
        link: "https://linkedin.com/company/ad-aures",
        label: "LinkedIn",
      },
    ],
  },
  {
    title: t("common:footer.legal"),
    items: [
      {
        type: "link",
        link: localizePath("/legal"),
        label: t("common:footer.legalNotice"),
      },
      {
        type: "notice",
        label: `🍪 ${t("common:footer.cookieNotice")}`,
      },
    ],
  },
];
---

<footer class="flex justify-between py-12 text-white bg-pine-800">
  <div class="container flex flex-col justify-center gap-8 lg:flex-row-reverse">
    <div
      class="grid w-full max-w-3xl grid-cols-1 gap-6 px-4 text-center sm:text-left sm:grid-cols-2 lg:grid-cols-4"
    >
      {
        sections.map((section) => (
          <section class="flex flex-col gap-y-2">
            <p class="text-sm font-bold tracking-wider uppercase font-display">
              {section.title}
            </p>
            <nav class="flex flex-col gap-y-2">
              {section.items.map((item) =>
                item.type === "link" ? (
                  <a
                    class="decoration-pine-500 decoration-2 hover:underline"
                    href={item.link}
                  >
                    {item.label}
                  </a>
                ) : (
                  <small>{item.label}</small>
                )
              )}
            </nav>
          </section>
        ))
      }
    </div>
    <div class="flex flex-col items-start self-center max-w-sm mx-auto lg:mx-0">
      <AdauresLogo className="h-8" />
      <small>{t("common:footer.copyright")}</small>
      <LanguageSelector
        showFlag={true}
        class="px-2 py-1 appearance-none bg-pine-900"
      />
    </div>
  </div>
</footer>
